---

---

<div class="Chat-model">
  <!-- header -->
  <div class="header-chat text-center mb-10 fs-r-48">
    <p class="chat-title">كيف يمكنني مساعدتك؟</p>
  </div>
  <!-- body -->
  <div class="body-chat d-flex items-center justify-center">
    <div>
      <!-- select suitable -->
      <div class="form-select relative mb-8">
        <select name="suitable" id="suitable" class="pr-5 round-6">
          <option value="" disabled selected>اختر المناسبة</option>
          <option value="under18"> اعياد ميلاد </option>
          <option value="18to25"> عيد الام </option>
          <option value="26to35"> عيد الحب </option>
          <option value="36to45"> مناسبة اخري </option>
        </select>
      </div>
      <!-- select type -->
      <div class="form-select relative mb-8">
        <select name="typeSelect" id="typeSelect" class="pr-5 round-6">
          <option value="mela">mela</option>
          <option value="femela">femela</option>
        </select>
      </div>
    </div>
    <!-- last-2 -->
    <div>
      <!-- Cost -->
      <div class="form-select relative mb-8">
        <select name="Cost" id="Cost" class="pr-5 round-6">
          <option value="" disabled selected>اختر التكلفة المناسبة</option>
          <option value="0to50">0ر.س - 50 ر.س</option>
          <option value="51to100">51ر.س - 100 ر.س</option>
          <option value="101to200">101ر.س - 200 ر.س</option>
          <option value="201to300">201ر.س - 300 ر.س</option>
        </select>
      </div>
      <!-- select-age -->
      <div class="form-select relative mb-8">
        <select name="ageSelect" id="ageSelect" class="pr-5 round-6">
          <option value="" disabled selected>اختر العمر المناسب</option>
          <option value="under18">تحت 18</option>
          <option value="18to25">18 - 25</option>
          <option value="26to35">26 - 35</option>
          <option value="36to45">36 - 45</option>
          <option value="46to55">46 - 55</option>
          <option value="over55">اكبر من 55</option>
        </select>
      </div>
    </div>
  </div>
  <div class="respondMassage mt-8">
    <p class="welcomeUser pb-8 fs-18 fw-600">اهلا احمد</p>
    <p class="thankMassage pb-8 fs-16 fw-600">
      نشكرك على تقديم التفاصيل الخاصة بالبحث عن الهدايا. بناءً على المعلومات
      التي قدمتها، توصلنا إلى بعض الاقتراحات التي نأمل أن تجدها مفيدة.
    </p>
    <ul class="ideas mb-8 mr-8">
      <li class="fs-16 fw-600 pb-4">باقة ورد وعلبة شوكولاتة فاخرة</li>
      <li class="fs-16 fw-600 pb-4">ألبوم صور شخصي أو صورة مؤطرة</li>
      <li class="fs-16 fw-600 pb-4">محفظة جلدية شخصية</li>
      <li class="fs-16 fw-600 pb-4">ساعة ذكية أو جهاز تتبع اللياقة البدنية</li>
      <li class="fs-16 fw-600">طقم عناية عالي الجودة</li>
    </ul>
    <p class="ByeMassage mb-8 fw-600">
      لا تتردد في إخباري إذا لفت انتباهك أي من هذه الاقتراحات، أو إذا كنت بحاجة
      إلى مزيد من المساعدة. عيد ميلاد سعيد للتسوق لميل!
    </p>
    <p class="ByeUs fw-600 mb-8">مع أطيب التحيات احمد</p>
  </div>
</div>
