---

---

<aside class="SideBar-chat">
  <p class="fs-18 fw-500 line-big pl-5">
    طريق استخدام الشات دون اي مشاكل <br /> يحب عليك ملئ جميع الاختيارات التي تنسابك
    وعند اكتمال هذه الاختيارات سوف يصلك الاقتراح المناسب
  </p>
</aside>
