@use "../helpers/color" as *;
@use "../helpers/extend" as *;

footer {
    background-color: $text;
    min-height: 40vh;
    width: 100%;
    padding: 4vh 0;

    button {
        color: #fff;
    }

    .container {
        flex-flow: row wrap;

        .footer-ul {
            color: #fff;
            padding-top: 5vh;


            .title {
                padding-bottom: 4vh;
            }

            .dec {
                opacity: .7;
            }

            .link-footer {
                flex-direction: column;
            }
        }

        .about-us,
        .contact-us,
        .news {

            .dec,
            .from-group {
                width: 300px;
                max-width: 100%;

                @media(max-width:487px) {
                    width: 100%;
                }
            }

        }

        .news {

            .from-group {


                .sendEmails {
                    position: absolute;


                    height: 40px;

                    width: fit-content;

                    &.btn-popup {
                        background-color: $hover-1;
                        border-width: 0;
                    }

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            input {
                @extend %inputAuth;
                transition: $t-s;
                background-color: transparent;
                color: #fff;

                &:focus {
                    border-color: $hover-2;
                }
            }
        }
    }
}