---
import Layout from "../layouts/Layout.astro";
import "../styles/scss/pages/ContactUs.scss";
import BreadCrumb from "../components/ui/breadcrumb.astro";
import ChatSection from "@components/chat/ChatSection.astro";
import "@styles/scss/pages/Chat.scss"
---

<Layout title="Gift Genius | عيد الحب ">
  <main>
    <BreadCrumb
      defPage=" الصفحة الرئيسية"
      linkPage="اقتراح هدايا"
      isCrumb={false}
      path="/"
    />
    <ChatSection />
  </main>
</Layout>