---
import Layout from "../layouts/Layout.astro";


import Hero from '@components/home/hero/Hero.astro'
import LastProduct from "../components/home/LastProduct.astro"
import Steps from "../components/home/Steps.astro"
//style
import "../styles/scss/pages/home.scss";

---

<Layout title="Gift Genius | الصفحة الرئيسية ">
  <main >
    <Hero/>
    <LastProduct title="احدث المنتجات" isFilter={false} />
    <Steps/>
  </main>

</Layout>
