---
import Layout from "../layouts/Layout.astro";


import Hero from '@components/home/hero/Hero.astro'
import LastProduct from "../components/home/LastProduct.astro"
//style
import "../styles/scss/pages/home.scss";

---

<Layout title="Gift Genius | الصفحة الرئيسية ">
  <main >
    <!-- hero section -->
    <Hero/>
    <!-- last product section -->
    <LastProduct title="احدث المنتجات"/>
    <!-- offer product section -->
  </main>

</Layout>
