@use "../../helpers/color" as*;


.breadcrumb {
    width: 100%;
    height: 10vh;
    margin-top: 100.8px;
    background-color: rgba($color: #1e0e13, $alpha: 1);
    // margin-right: auto;
    text-align: right;

    color: #fff;



    .title {
        color: #fff;

    }

    h1 {
        display: none;
    }

    ul {
        // flex-direction: column;
        // flex-direction: row-reverse;
        margin-top: 3vh;

        li {
            &.separator {
                height: 11px;
                width: 2px;
                background-color: $hover-2;
                margin: 0 8px;
            }

            &.linkPage {
                opacity: .8;
            }

            &.defPage {
                a {
                    color: #fff;
                    transition: $t-s;

                    &:hover {
                        color: $hover-2;
                    }
                }
            }
        }

    }

}