---
import { HeaderData } from "@data/data";
import type { LinkType } from "../../types/types";
import { Icon } from "astro-icon/components";
---

<ul class="d-flex items-center link-list normalMenu">
  {
    HeaderData.map((link: LinkType) => (
      <li class="nav-items pr-8">
        <a class="fw-500 nav-link  relative" href={link.path}>
          {" "}
          {link.title}{" "}
        </a>
      </li>
    ))
  }
  <li class="dropdown nav-items pr-8 relative d-flex items-center" id="drop1">
    <span class="fw-500 nav-link relative"> رجالي</span>
    <Icon name={`arrow-down`} class={`pr-1`} size={24} id="arrowDropDown" />
    <ul
      class="dropdown-content round-6 overflow-hidden d-none right-0 absolute"
    >
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          اعياد الميلاد</a
        >
      </li>
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          اعياد الجواز</a
        >
      </li>
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          عيد الحب</a
        >
      </li>
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          عيد الام</a
        >
      </li>
    </ul>
  </li>
  <li class="dropdown nav-items pr-8 relative d-flex items-center" id="drop3">
    <span class="fw-500 nav-link relative"> نسائي</span>
    <Icon name={`arrow-down`} class={`pr-1`} size={24} id="arrowDropDown" />
    <ul
      class="dropdown-content round-6 overflow-hidden d-none right-0 absolute"
    >
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          اعياد الميلاد</a
        >
      </li>
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          اعياد الجواز</a
        >
      </li>
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          عيد الحب</a
        >
      </li>
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          عيد الام</a
        >
      </li>
    </ul>
  </li>
  <li class="dropdown nav-items pr-8 relative d-flex items-center" id="drop4">
    <span class="fw-500 nav-link relative"> اطفال</span>
    <Icon name={`arrow-down`} class={`pr-1`} size={24} id="arrowDropDown" />
    <ul
      class="dropdown-content round-6 overflow-hidden d-none right-0 absolute"
    >
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          اعياد الميلاد</a
        >
      </li>
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          اعياد الجواز</a
        >
      </li>
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          عيد الحب</a
        >
      </li>
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          عيد الام</a
        >
      </li>
    </ul>
  </li>
  <li class="dropdown nav-items pr-8 relative d-flex items-center" id="drop5">
    <span class="fw-500 nav-link relative "> كروت معايدة</span>
    <Icon name={`arrow-down`} class={`pr-1 arrow5`} size={24} id="arrowDropDown" />
    <ul
      class="dropdown-content round-6 overflow-hidden d-none right-0 absolute"
    >
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          اعياد الميلاد</a
        >
      </li>
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          اعياد الجواز</a
        >
      </li>
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          عيد الحب</a
        >
      </li>
      <li class="">
        <a href="Categories.html" class="fw-500 px-7 py-4 relative">
          عيد الام</a
        >
      </li>
    </ul>
  </li>
</ul>
