---

import Button from "../ui/Button.astro";
import { Icon } from "astro-icon/components";
---

<footer>
  <div class="container d-flex items-start justify-between">
    <div class="footer-ul about-us">
      <p class="title fs-24 fw-700">من نحن</p>
      <p class="dec line-relaxed fs-16">
        نحن نقدم لك احدث منتجات الهدايا التي تتناسب مع جميع المناسبات بافضل
        الاسعار
      </p>
    </div>
    <!--  -->
    <div class="footer-ul contact-us">
      <p class="title fs-24 fw-700">تواصل معانا</p>
      <p class="dec line-relaxed fs-16">
        تطبيق الويب المثالي لتتبع طعامك وممارسة الرياضة والوزن أثناء التنقل
      </p>
    </div>
    <!--  -->
    <div class="footer-ul news">
      <p class="title fs-24 fw-700">اخر الاحداث</p>
      <p class="dec line-relaxed fs-16">
        يمكنك الوثوق بنا، فنحن نرسل العروض فقط، وليس بريدًا عشوائيًا واحدًا
      </p>
      <form action="/">
        <div class="from-group relative mt-7">
          <input
            type="email"
            placeholder="البريد الالكتروني"
            class="round-4 pr-5"
          />
          <Button
            type="submit"
            aria="send email"
            ClassName=" btn-popup sendEmails round-4 px-9  top-0 left-0"
          >
            <Icon name="arrow-left" />
          </Button>
        </div>
      </form>
    </div>
  </div>
</footer>
