---
import ToggleText from "./ToggleText.astro";

---

<div class="toggle absolute right-0">
  <ToggleText
    title={`انضم الينا`}
    des="نحن نقدم لك احدث منتجات الهدايا التي تتناسب مع جميع المناسبات بافضل الاسعار"
    BtnName="تسجيل الدخول"
    ClassNames="toggleLeft active text-center"
    id="Login"
    path="#SignIn"
  />
  
  <!-- right -->
  <ToggleText
    title="مرحبا بعودتك"
    des="نحن نقدم لك احدث منتجات الهدايا التي تتناسب مع جميع المناسبات بافضل الاسعار"
    BtnName="انضم الينا"
    ClassNames="toggleRight text-center"
    id="Register"
    path="#SignUp"

  />
</div>
