---
import LoginInForm from "./LoginInForm.astro";

---

<div
  class="container d-flex items-start justify-center  mt-14 AuthMain"
  
>
  <section class="slideAuth relative mx-auto">
    <div
      class=" overflow-hidden"
      id="container"
    >
      <LoginInForm />
      <!-- <SignUp /> -->
      <!-- <AuthText /> -->
    </div>
  </section>
</div>