---
import LoginInForm from "./LoginInForm.astro";
import SignUp from "./SignUpForm.astro";
import AuthText from "./AuthText.astro";
---

<section class="slideAuth relative mx-auto">
  <div
    class="d-flex items-start justify-between overflow-hidden"
    id="container"
  >
    <LoginInForm />
    <SignUp />
    <AuthText />
  </div>
</section>
